extends layout

block content

  h2= title
    style.
        body {
          background:white;
          background-size: cover;
        }
        
    body

  .container_all
    .content_aboutImage 
      
    .content_about
      p.aboutpara We are in this industry since several years. We provides streaming of all kinds of movies including Thrilling, Comdey, Sci-fi, Romantic and many more. We provides all genre of movie in this website. We also do streaming of some web series. The best part of our site is we provides all movies in all languages, which can really help to every region of people to understnd.

  footer
    p Copyright (c) Movie Studio | All Rights Reserved

