extends layout 

block content 
    .containerBox
        p.listOfMoviespara Movie Creation
        form(action='' method= 'Post')
            label(for="name") Movie Name: 
            br
            input#name(type='text' name='mName')
            br
            label(for="category") Movie Category:
            br
            input#type(type='text' name='mCategory')
            br
            label(for="ratings") Movie Rating:
            br
            input#type(type='text' name='mRatings')
            br
            label(for="releasedyear") Released Year:
            br
            input#type(type='text' name='releasedYear')
            br
            label(for="estimatedearning") Estimated Earnings:
            br
            input#type(type='text' name='estimatedEarnings')
            br
            button.btn Create Movies

