extends layout

block content
    h1= "Explore Movies"
    p.paragraph #{title}
    
      style.
        body {
          background-image: url(/images/back_iamge_home_page.jpeg.jpg);
          background-size: cover;
        }
    body

    footer#footer
      p Copyright (c) Movie Studio | All Rights Reserved
